@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #5d576b;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
